@{
    ViewData["Title"] = "Elements page";
}
<h1>@ViewData["Title"]</h1>

<p>Periodic table elements.</p> 


<div class="periodic-table">
    @foreach (var element in Model)
    {
        <div class="element" style="grid-row: @(element.Row); grid-column: @(element.Column);">@element.ShortName</div>
    }
</div> 