@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="index_title">
        <p class="large_font">Periodic Table</p>
        <div>
            <p style="margin-bottom:2cm;"></p>
        </div>
        <p class="small_font">Mendeleev's Periodic Table of Elements</p>
    </div> 
    <ul id="menu"> 
       <li>
            @Html.ActionLink("Elements table", "ElementsTable", "Home")
       </li>
    </ul>
</div>
