html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#Footer
{
    border-radius: 15px 15px 0px 0px;
    position: fixed;
    bottom: 0px;
    height: 30px; 
    background-color: #666;
    color: #eee;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.huge_font {
    font-size: 140px;
}

.large_font {
font-size: 90px;
padding-bottom: 0px;
line-height: 0.7;
margin-top: 30px;
}

.medium_font {
font-size: 60px;
font-weight: 100;
}

.small_font {
font-size: 20px;
} 

.ulm {
  padding-left: 2rem;
  list-style-type: none;
}

.lim{
  padding-left: 0rem;
  background-image: url(bullet.png);
  background-position: 0 0;
  background-size: 1.6rem 1.6rem;
  background-repeat: no-repeat;
}
#up {
    vertical-align: top;
    font-size: 20px;
}

#down {
    vertical-align: bottom;
    text-align: left;
    font-size: 20px;
}


.Metal {
    width: 100%;
    height: 10px;
    background-color: #65d5db;
} 
.Nonmetal {
    width: 100%;
    height: 10px;
    background-color: #7f18cd;
}
.Metalloid {
    width: 100%;
    height: 10px;
    background-color: #0c93a2;
}
.NobleGas {
    width: 100%;
    height: 10px;
    background-color: #ffff29;
}
.AlkaliMetal {
    width: 100%;
    height: 10px;
    background-color: #ff2969;
}
.AlkalineEarthMetal {
    width: 100%;
    height: 10px;
    background-color: #ff2929;
}
.Halogen {
    width: 100%;
    height: 10px;
    background-color: #15ee36;
}
.TransitionMetal {
    width: 100%;
    height: 10px;
    background-color: #280aa3;
}
.Lanthanide {
    width: 100%;
    height: 10px;
    background-color: #07d8c3;
}
.Actinide {
    width: 100%;
    height: 10px;
    background-color: #ffa600;
}
.Transactinide {
    width: 100%;
    height: 10px;
    background-color: #1100ff;
}  